/node_modules
/coverage
/dist
/.js
/.tmp
/.sass-cache
/bower_components
/app/scripts/config.js
/.DS_Store
/.vscode
/.idea
.tscache/
app/**/*.js.map
test/spec/**/*.js.map
app/**/*.js
test/spec/**/*.js
/app/styles/main.css
/app/styles/main.css.map
app/build-information.json
